apiVersion: v1
kind: Pod
metadata:
  name: cyclictest
  annotations:
    cpu-load-balancing.crio.io: "true"
  labels:
    app.kubernetes.io/name: cyclictest
    app.kubernetes.io/version: latest
spec:
  containers:
    - name: cyclictest
      namespace: openshift-monitoring
      volumeMounts:
        - mountPath: /dev/cpu_dma_latency
          name: dev-cpu-dma-latency
      image: quay.io/ayosef/cyclictest:latest
      imagePullPolicy: Always
      resources:
        requests:
          cpu: {{ cpu }}
          memory: 2G
        limits:
          cpu: {{ cpu }}
          memory: 2G
      command: ["cyclictest"]
      args:
        - --duration={{ duration }}
        - --histofall=30
        - --mlockall
        - --priority=95
        - --interval=1000
        - --distance=0
        - --smi
        - -a
        - -t {{ cpu }}
        - -n
      securityContext:
        privileged: true
        capabilities:
          add:
            - ipc_lock
            - sys_nice
            - sys_rawio
  nodeSelector:
    node-role.kubernetes.io/{{ cnf_node_selector }}: ""
  volumes:
    - name: dev-cpu-dma-latency
      hostPath:
        path: /dev/cpu_dma_latency
  runtimeClassName: performance-{{ profile_name }}
  restartPolicy: Never
  serviceAccount: node-exporter
  serviceAccountName: node-exporter
