apiVersion: v1
kind: Pod
metadata:
  name: cyclictest
  annotations:
    cpu-load-balancing.crio.io: "true"
  labels:
    app.kubernetes.io/name: cyclictest
    app.kubernetes.io/version: v1.0.1
spec:
  containers:
    - name: cyclictest
      namespace: openshift-monitoring
      volumeMounts:
        - mountPath: /dev/cpu_dma_latency
          name: dev-cpu-dma-latency
      image: quay.io/ayosef/cyclictest:v1.0.1
      imagePullPolicy: Always
      resources:
        requests:
          cpu: 16
        limits:
          cpu: 16
      command: ["cyclictest"]
      args:
        - --smp
        - --duration={{ duration }}
        - --histofall=US
        - --mlockall
        - --priority=80
        - --interval=200
        - --distance=0
      securityContext:
        privileged: true
        capabilities:
          add:
            - ipc_lock
            - sys_nice
            - sys_rawio
  nodeSelector:
    node-role.kubernetes.io/worker-cnf: ""
  volumes:
    - name: dev-cpu-dma-latency
      hostPath:
        path: /dev/cpu_dma_latency
  runtimeClassName: performance-{{ profile_name }}
  restartPolicy: Never
  serviceAccount: node-exporter
  serviceAccountName: node-exporter
